<div class="my-profile bg-white rounded-xl shadow-sm p-4 mb-6 mt-4 max-w-3xl mx-auto">

  <!-- 上段：アバター + 名前 -->
  <div class="flex items-center gap-4">

    <!-- 仮アバター -->
    <div class="h-20 w-20 rounded-full flex items-center justify-center text-gray-600 bg-gray-100">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar,
            class: "w-20 h-20 rounded-full object-cover" %>
      <% else %>
        <!-- 仮アバター -->
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="w-12 h-12">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75
                   a7.488 7.488 0 0 0-5.982 2.975
                   m11.963 0a9 9 0 1 0-11.963 0
                   m11.963 0A8.966 8.966 0 0 1 12 21
                   a8.966 8.966 0 0 1-5.982-2.275
                   M15 9.75a3 3 0 1 1-6 0
                   3 3 0 0 1 6 0Z" />
        </svg>
      <% end %>
    </div>

    <!-- 名前 + 投稿数 -->
    <div>
      <h2 class="text-lg font-semibold"><%= current_user.name %></h2>
      <p class="text-base text-gray-500">投稿数：<%= @posts.count %></p>
    </div>

    <!-- 編集ボタン -->
    <% if user_signed_in? %>
        <%= link_to "編集", edit_users_profile_path,
            class: "px-4 py-2 bg-sky-500 hover:bg-sky-400 text-center text-white rounded-lg" %>
    <% end %>
  </div>

  <!-- 自己紹介 -->
  <% if current_user.introduction.present? %>
    <div class="my-4 ml-2 text-base text-gray-700 whitespace-pre-line">
      <%= current_user.introduction %>
    </div>
  <% end %>
</div>
