<div class="flex justify-center items-start pt-8">
  <div class="w-full sm:w-[360px] md:w-[420px]  p-8 bg-white rounded-xl shadow-2xl hover:shadow-2xl">    
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">
      <%= t(".sign_up") %>
    </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :name, class: "block text-base font-medium text-gray-700" %>
        <%= f.text_field :name, autofocus: true,
            class: "mt-2 w-full rounded-md border-2 border-gray-300
                    bg-white px-4 py-2 text-lg
                    focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
      </div>

      <div class="field mb-3">
        <%= f.label :email, class: "block text-base font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
            class: "mt-2 w-full rounded-md border-2 border-gray-300
                    bg-white px-4 py-2 text-lg
                    focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password, class: "block text-base font-medium text-gray-700" %>
        <% if @minimum_password_length %>
        <em><%= t("devise.passwords.password_length", count: @minimum_password_length) %></em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password",
            class: "mt-2 w-full rounded-md border-2 border-gray-300
                    bg-white px-4 py-2 text-lg
                    focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
        </div>

        <div class="field mb-3">
          <%= f.label :password_confirmation, class: "block text-base font-medium text-gray-700" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
              class: "mt-2 w-full rounded-md border-2 border-gray-300
                      bg-white px-4 py-2 text-lg
                      focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
      </div>

      <div class="mt-4 text-sm text-gray-600">
        <label class="flex items-start gap-2">
          <span>
            <%= link_to "利用規約", terms_path, class: "text-blue-600 hover:underline" %>
              および
            <%= link_to "プライバシーポリシー", privacy_path, class: "text-blue-600 hover:underline" %>
              （以下、利用規約等）に同意します
            </span>
        </div>

      <div class="actions mt-6 pb-3 text-center">
        <%= f.submit t(".signup"),
          class: "w-full py-3 rounded-lg
                  text-base font-semibold text-white
                  bg-blue-500 hover:bg-blue-400
                  shadow-md hover:shadow-lg
                  focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2
                  transition
                 " %>
      </div>

      <div class="mt-2 pt-2">
        <%= link_to user_google_oauth2_omniauth_authorize_path,
            data: { turbo: false, controller: "tap-feedback" },
            class: "w-full flex items-center justify-center gap-3 px-4 py-2
                    border-4 border-sky-400 rounded-md shadow-sm
                    bg-white hover:border-yellow-300 text-base font-medium text-gray-700" do %>

          <svg class="w-5 h-5" viewBox="0 0 48 48">
            <path fill="#EA4335" d="M24 9.5c3.54 0 6.01 1.53 7.39 2.81l5.45-5.45C33.64 3.78 29.29 1.5 24 1.5 14.94 1.5 7.2 6.64 3.5 14.07l6.34 4.92C11.66 13.24 17.36 9.5 24 9.5z"/>
            <path fill="#4285F4" d="M46.5 24.5c0-1.34-.12-2.62-.35-3.86H24v7.32h12.73c-.55 2.97-2.2 5.48-4.68 7.18l7.18 5.59c4.2-3.88 6.27-9.6 6.27-16.23z"/>
            <path fill="#FBBC05" d="M9.84 28.99c-.48-1.45-.75-2.99-.75-4.49s.27-3.04.75-4.49l-6.34-4.92C1.59 18.3.5 21.03.5 24.5s1.09 6.2 3 9.41l6.34-4.92z"/>
            <path fill="#34A853" d="M24 47.5c6.48 0 11.92-2.14 15.89-5.77l-7.18-5.59c-2 1.34-4.57 2.13-8.71 2.13-6.64 0-12.34-3.74-14.16-9.23l-6.34 4.92C7.2 41.36 14.94 47.5 24 47.5z"/>
          </svg>
          <span>利用規約等に同意し、Googleログイン</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
