<%= form_with model: post, local: true, multipart: true do |f| %>
  <div class="max-w-2xl mx-auto font-mono text-lg font-medium text-gray-800 px-4 py-4">

    <!-- 画像アップロード -->
    <div class="field mb-3">
      <div>
        <%= f.label :images, "画像（必須 ※5枚まで）", class: "block font-medium text-gray-700 py-2"  %>
        <%= f.file_field :images, multiple: true, accept: "image/*", id: "image-input",
                          class: "hidden" %>
        <label for="image-input" class="border-2 border-gray-800 bg-gray-300 text-base rounded-md px-4 py-2 cursor-pointer">
          ファイルを選択
        </label>
      </div>
    </div>

    <!-- 画像アップロード -->
    <%  if post.persisted? %>
      <div id="image-preview" class="flex gap-3 flex-wrap mb-4 py-4"
        data-existing='<%= post.images.map { |i| {id: i.id, url: url_for(i)} }.to_json %>'>
      </div>
    <% else %>
      <div id="image-preview" class="flex gap-3 flex-wrap mb-4 py-4"></div>
    <% end %>

    <%= hidden_field_tag "post[remove_image_ids][]", "", id: "remove-image-ids" %>

    <!-- タイトル以降 -->
    <div class="field mb-3">
      <div>
        <%= f.label :title, "タイトル（必須）", class: "block text-xl font-medium text-gray-700" %>
        <%= f.text_field :title, autofocus: true, placeholder: "場所・レストラン・カフェ・ホテルなど",
            class: "mt-2 w-full rounded-md border-2 border-gray-300 bg-white px-4 py-2 text-lg
                    focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
      </div>
    </div>

    <div class="field mb-3">
      <div>
        <%= f.label :body, "感想・メモ（必須）", class: "block text-xl font-medium text-gray-700" %>
        <%= f.text_area :body,
            class: "mt-2 w-full rounded-md border-2 border-gray-300 bg-white px-4 py-2 text-lg
                    focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
      </div>
    </div>

    <div class="field mb-3">
      <div class="grid grid-cols-2 gap-3 mb-4">
        <div>
          <%= f.label :country, "国（必須）", class: "block text-xl font-medium text-gray-700" %>
          <%= f.select :country, country_options, { prompt: "国を選択" },
              class: "mt-2 w-full h-12 rounded-md border-2 border-gray-300 bg-white px-4 py-2 text-lg
                      focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
        </div>
        <div>
        <%= f.label :region, "地域", class: "block text-xl font-medium text-gray-700" %>
        <%= f.text_field :region, autofocus: true, placeholder: "東京都 / 葛飾区",
            class: "mt-2 w-full h-12 rounded-md border-2 border-gray-300 bg-white px-4 py-2 text-lg
                    focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
        </div>        
      </div>
    </div>

    <div class="field mb-4">
      <div>
        <%= f.label :visited_at, "訪れた日", class: "block text-xl font-medium text-gray-700" %>
        <%= f.date_field :visited_at,
            class: "mt-2 w-full h-12 rounded-md border-2 border-gray-300 bg-white sm:px-4 py-2 text-lg
                    focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
      </div>
    </div>

    <div class="field mb-4">
      <%= f.label :warning, "知っておくと便利", class: "block text-xl font-medium text-gray-700" %>
        <%= f.text_area :warning, placeholder: "現金あった方がいい、予約した方がお得です",
            class: "mt-2 w-full rounded-md border-2 border-gray-300 bg-white px-4 py-2 text-lg
                    focus:border-sky-500 focus:ring-2 focus:ring-sky-500" %>
    </div>

    <div class="field mb-4 flex items-center gap-3">
      <%= f.check_box :is_public,
        class: "h-5 w-5 rounded border-gray-300 text-sky-600
                focus:ring-sky-500" %>
      <%= f.label :is_public, "みんなに公開する",
        class: "text-xl text-gray-700 select-none" %>
    </div>
  </div>
  
  <div class="max-w-2xl mx-auto font-mono text-lg font-medium text-gray-800 px-4 py-4">
    <div class="max-w-2xl mx-auto">
      <%= f.submit post.new_record? ? "投稿作成" : "更新",
        class: "w-full rounded-xl bg-sky-600 py-4 text-xl font-semibold
                text-white shadow-lg
                hover:bg-sky-500
                active:scale-95 transition" %>
    </div>
<% end %>