<div class=" px-0 sm:px-4 py-0 sm:py-6">

<div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-1 sm:gap-4 lg:gap-6">
  <% @posts.each do |post| %>
    <%= link_to post_path(post),
        class: "block bg-white shadow hover:shadow-lg transition overflow-hidden" do %>

      <!-- ç”»åƒ -->
      <% if post.images.attached? %>
        <div class="relative">
          <%= image_tag post.images.first, class: "h-72 sm:h-64 w-full object-cover" %>

          <!-- å›½ãƒ»åœ°åŸŸï¼ˆç”»åƒå³ä¸‹ï¼‰ -->
          <div class="absolute bottom-2 right-2
                      bg-white/90 text-gray-800
                      text-xs px-2 py-1 rounded">
            <%= post.country %>
            <% if post.region.present? %>
              / <%= post.region %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="h-72 sm:h-64 w-full bg-gray-200
                    flex items-center justify-center text-gray-500">
          No Image
        </div>
      <% end %>

      <!-- ä¸‹éƒ¨ -->
      <div class="p-2 sm:p-4 flex gap-2 sm:gap-3">

        <!-- ä»®ã‚¢ã‚¤ã‚³ãƒ³ -->
        <div class="h-8 w-8 sm:h-10 sm:w-10
                    rounded-full bg-gray-300 flex
                    items-center justify-center
                    text-gray-600 text-lg shrink-0">
          ðŸ‘¤
        </div>

        <!-- ãƒ†ã‚­ã‚¹ãƒˆ -->
        <div class="min-w-0">
          <p class="font-semibold text-xs sm:text-base line-clamp-2">
            <%= post.title %>
          </p>
        </div>

      </div>

    <% end %>
  <% end %>
</div>
</div>