<div class=" px-0 sm:px-4 py-0 sm:py-6">

  <%= render 'search_form' %>

  <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-1 sm:gap-4 lg:gap-6">
    <% @posts.each do |post| %>

      <div class="block bg-white p-3 pb-6 rounded-sm border border-gray-200
                  shadow-md hover:shadow-xl transition overflow-hidden
                  hover:shadow-2xl hover:scale-105 transition transform duration-300">

        <%= link_to post_path(post) do %>

          <!-- 画像 -->
          <% if post.images.attached? %>
            <div class="relative">
              <%= image_tag post.images.first, class: "h-72 sm:h-64 w-full object-cover" %>

              <!-- 国・地域（画像右下） -->
              <div class="absolute bottom-2 right-2
                          bg-white/90 text-gray-800
                          text-xs px-2 py-1 rounded">
                <%= country_name(post.country) %>
                <% if post.region.present? %>
                  / <%= post.region %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="h-72 sm:h-64 w-full bg-gray-200
                        flex items-center justify-center text-gray-500">
              No Image
            </div>
          <% end %>

          <!-- 下部 -->
          <div class="p-2 sm:p-4 flex gap-2 sm:gap-3">

            <!-- 仮アイコン -->
            <div class="h-8 w-8 sm:h-10 sm:w-10
                        rounded-full flex
                        items-center justify-center
                        text-gray-600 text-lg shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </div>

            <!-- テキスト -->
            <div class="min-w-0">
              <p class="font-semibold text-xs sm:text-base line-clamp-2">
                <%= post.title %>
              </p>
            </div>
          </div>

        <% end %>

        <div class="flex items-center gap-3 px-2 sm:px-4 pb-3">
          <% if user_signed_in? && current_user == post.user %>

            <%= link_to edit_post_path(post),
                class: "text-gray-600 hover:text-blue-600 transition" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7"
                   fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5
                         M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z" />
              </svg>
            <% end %>

            <%= link_to post_path(post),
                data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                class: "text-gray-600 hover:text-red-600 transition" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7"
                   fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862
                         a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6
                         m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3
                         M4 7h16" />
              </svg>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-8 text-xl flex">
    <%= paginate @posts %>
  </div>
</div>