<!DOCTYPE html>
<html>
  <head>
    <title>Trip-let</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Tailwind CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-sky-50 text-gray-900 min-h-screen flex flex-col">
    <!-- Header -->
    <div class="fixed top-0 w-full z-50">
      <%= render 'shared/header' %>
    </div>

    <!-- Main -->
    <main class="container mx-auto pt-16 sm:pt-18 flex-grow pb-28 md:pb-30">
      <%= render 'shared/flash' %>
      <%= yield %>  
    </main>

    <!-- Footer -->
    <% if user_signed_in? %>
      <%= render 'shared/footer1' %>
    <% else %>
      <%= render 'shared/footer2' %>
    <% end %>
  </body>
</html>
