<!DOCTYPE html>
<html>
  <head>
    <title>Trip-let</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

    <!--偽物のリクエストを防ぐための安全トークンを埋め込むもの-->
    <!--危険なスクリプトの実行を防ぐためのルールをブラウザに伝えるもの-->
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 

    <!-- Tailwind CSS とアプリのCSS、そしてアプリのJavaScriptを Rails が HTML に読み込ませるためのタグを生成している。-->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-sky-50 text-gray-900 min-h-screen flex flex-col">
    <!-- Header -->
    <%= render 'shared/header1' %>
    <%= render 'shared/header2' %>

    <!-- Main -->
    <main class="container mx-auto mt-10 px-4">
      <%= yield %>  
    </main>

    <!-- Footer -->
    <%= render 'shared/footer' %>
  </body>
</html>
