<!DOCTYPE html>
<html>
  <head>
    <title>Trip-let</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"> 

    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Tailwind CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-sky-50 text-gray-900 min-h-screen flex flex-col">
    <!-- Header -->
    <%= render 'shared/header1' %>

    <% if user_signed_in? %>
      <%= render 'shared/header2' %>
    <% end %>

    <!-- Main -->
    <main class="container mx-auto mt-10 px-4 flex-grow">
      <%= render 'shared/flash' %>
      <%= yield %>  
    </main>

    <!-- Footer -->
    <%= render 'shared/footer' %>
  </body>
</html>
